<!-- <div class="surface-section px-4 py-8 md:px-6 lg:px-8">
    <div class="text-700 text-center">
      <div class="text-700 text-2xl mb-5">
        <h1 style="font-size: xx-large;">Hoş geldiniz.</h1>
        <p class="lead">Bu arayüz sayesinde kullanıcılara rol atayabilir gerekli verileri düzenleyebilirsiniz.|</p>
        <p class="lead" style="font-size: x-small;">Bu işlemler için giriş yapın</p>
      </div>
      <button pButton pRipple label="Giriş Yap" icon="pi pi-user"
        class="font-bold px-5 py-3 p-button-raised p-button-rounded white-space-nowrap" routerLink="/login"></button>
    </div>
  </div> -->
    <div id="brand"><img src="../../../assets/pong.png">
      <button pButton pRipple label="PLAY" icon="pi pi-sign-in" class="custom-button" routerLink="/login"></button>
    </div>
