<p-menubar [model]="items" class="bg-danger">
  <ng-template pTemplate="start">
  </ng-template>
  <ng-template pTemplate="end">
      <div *ngIf="isAuthBool==false">
        <button class="border-0 bg-transparent" routerLink="/login">
          <p-avatar icon="pi pi-user" [style]="{ 'color': '#ffffff'}" shape="circle" styleClass="bg-warning"
            shape="circle">
          </p-avatar>
        </button>
      </div>
      <div *ngIf="isAuthBool==true" class="mt-2" (click)="navigateMyProfile()">
        <p-chip [label]="getNickName()"
        [image]="profileUrl"></p-chip>
      </div>
  </ng-template>
</p-menubar>
<div class="d-none position-fixed" style="top: 96px;right: 0px;z-index: 3;visibility: hidden;">
  HemFikr
</div>
<div id="progress" class="position-fixed d-none">efyazılım</div>
<p-sidebar [(visible)]="visibleSidebar1" [baseZIndex]="10000">
  <app-sidebar></app-sidebar>
</p-sidebar>