<div class="chat">
	<div class="chat-title">
		<h1>{{currentFullName}}</h1>
		<h2>{{currentNickName}}</h2>
		<figure class="avatar" (click)="navigateMyProfile()">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/156381/profile/profile-80.jpg" />
		</figure>
	</div>
	<div class="messages" #messagesContent>
		<div class="messages-content">
			<div class="messages" *ngFor="let message of messages;let isLast=last">
				<div class="mCSB_container" *ngIf="currentNickName === message.sender && message.isInterpreted == false">
					<div *ngIf="currentNickName === message.sender" class="message message-personal">
						<strong>{{ message.sender }}:</strong> {{ message.text}}
					</div>
				</div>
				<div class="mCSB_container" *ngIf="currentNickName !== message.sender && message.isInterpreted == false">
					<div class="message new">
						<figure class="avatar" (click)="navigateProfile(message)">
							<img
								[src]="message.imageUrl != null && message.imageUrl != undefined && message.imageUrl != '' ? profileImageUrl + message.imageUrl :'https://cdn-icons-png.flaticon.com/512/3135/3135715.png'" />
						</figure>
						<strong>{{ message.sender }}:</strong> {{ message.text}}
					</div>
				</div>
				<div class="mCSB_container" *ngIf="(message.gameInvateModel.guestUserNickName && message.gameInvateModel.hostUserNickName) && currentNickName === message.gameInvateModel.guestUserNickName || 
												currentNickName === message.gameInvateModel.hostUserNickName && message.isInterpreted == true">
					<div class="message new">
						<figure class="avatar" (click)="navigateProfile(message)"><img
								[src]="message.imageUrl != null && message.imageUrl != undefined && message.imageUrl != '' ? profileImageUrl + message.imageUrl :'https://cdn-icons-png.flaticon.com/512/3135/3135715.png'" />
						</figure>
						<p-button label="Oyuna Katıl"
							(onClick)="gameInvate(message.gameInvateModel.hostUserNickName, message.gameInvateModel.guestUserNickName)"></p-button>
					</div>
				</div>
				<div class="mCSB_container" *ngIf="isLast && changeMessages">
					<div class="message loading">
						<figure class="avatar"><img
								[src]="message.imageUrl != null && message.imageUrl != undefined && message.imageUrl != '' ? profileImageUrl + message.imageUrl : 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/156381/profile/profile-80.jpg'" />
						</figure>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="message-box">
		<input type="text" class="message-input" placeholder="Type message..." (keyup.enter)="sendMessage()"
			[(ngModel)]="message">
		<button type="submit" class="message-submit" (click)="sendMessage()">Send</button>
	</div>
</div>
<div class="bg"></div>