html,
body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: transparent;
}

.avatar {
    width: 150px; /* Avatarın boyutunu istediğiniz gibi ayarlayın */
    height: 150px;
    border: 3px solid #fff; /* Çerçeve rengini istediğiniz renkle değiştirin */
    border-radius: 50%; /* Yuvarlatılmış köşelerle daire şeklinde bir çerçeve oluşturur */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Opsiyonel olarak gölge ekleyebilirsiniz */
  }

  .avatar-frame {
    width: 150px; /* Çerçevenin boyutunu istediğiniz gibi ayarlayın */
    height: 150px;
    border: 3px solid #fff; /* Çerçeve rengini istediğiniz renkle değiştirin */
    border-radius: 50%; /* Yuvarlatılmış köşelerle daire şeklinde bir çerçeve oluşturur */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Opsiyonel olarak gölge ekleyebilirsiniz */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px;
  }
  
  

.form-register {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: auto;
}

.form-register-auth {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: auto;
}

.form-register .checkbox {
    font-weight: 400;
}

.form-register .form-floating:focus-within {
    z-index: 2;
}

.form-register input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-radius: 16px 16px 0px 0px;
}

.form-register-end {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-radius: 0px 0px 16px 16px;
}

:host>>>.p-card
{
  border-radius: 16px;
}
  
